@model Article
@{
    ViewData["Title"] = "Create Article";
}

<h2>Create Article</h2>

<form asp-action="Create" asp-controller="Articles" asp-area="admin" method="post" enctype="multipart/form-data">
   
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input asp-for="Title" class="form-control" required />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Short Description</label>
        <textarea asp-for="ShortDescription" class="form-control" rows="3" required></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">Content</label>
        <textarea id="editor" asp-for="Content"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">Category</label>
        <select asp-for="Category" class="form-select">
            <option value="Tech">Tech</option>
            <option value="Press">Press</option>
            <option value="Press">Artificial Intelligence(AI),.NET Development</option>
            <option value="Press">Programming Tools</option>
            <option value="Press">Visual Studio</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Upload Image</label>
        <input type="file" name="image" class="form-control"  />
    </div>

    <div class="mb-3">
        <label class="form-label">Display Order</label>
        <input asp-for="SortOrder"
               type="number"
               class="form-control"
               value="0"
               min="0" />
        <small class="text-muted">
            Lower number appears first
        </small>
    </div>
    <hr />
    <h5 class="mt-3">SEO Meta Information</h5>

    <div class="mb-3">
        <label class="form-label">Meta Title</label>
        <input type="text"
               name="MetaTitle"
               class="form-control"
               maxlength="60"
               placeholder="SEO title (max 60 characters)" />
        <small class="text-muted">
            Recommended: 50–60 characters
        </small>
    </div>

    <div class="mb-3">
        <label class="form-label">Meta Description</label>
        <textarea name="MetaDescription"
                  class="form-control"
                  rows="3"
                  maxlength="160"
                  placeholder="SEO description (max 160 characters)"></textarea>
        <small class="text-muted">
            Recommended: 140–160 characters
        </small>
    </div>

    <div class="mb-3">
        <label class="form-label">Meta Keywords</label>
        <input type="text"
               name="MetaKeywords"
               class="form-control"
               placeholder="keyword1, keyword2, keyword3" />
    </div>
    <div class="form-check mb-3">
        <input asp-for="IsActive" class="form-check-input" checked />
        <label class="form-check-label">Active</label>
    </div>

    <button type="submit" class="btn btn-primary">
        Save Article
    </button>

    <a asp-action="Index" class="btn btn-secondary ms-2">
        Cancel
    </a>
</form>



@section scripts {
    <script src="https://cdn.ckeditor.com/ckeditor5/40.2.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => console.error(error));

               document.querySelector('form').addEventListener('submit', function () {
            for (const editor of document.querySelectorAll('.ck-editor__editable')) {
                editor.dispatchEvent(new Event('change'));
            }
        });
    </script>

      
}


