@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutOuter";
}

<div class="text-center">
    <h1 class="display-4">Notification Success</h1>
    <p>Notification sent successfully.</p>
</div>
