<footer class="Footer_footer__NzM_y">
    <div class="container">
        <div class="Footer_FooterTop___oucz">
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <div class="Footer_FormSec__C43gt d-flex flex-wrap">
                        <div class="Footer_FormSec__C43gt d-flex flex-wrap">
                            <ul class="Footer_CmsLink__HzwGS d-flex flex-wrap justify-content-center justify-content-lg-start list-group list-group-horizontal">
                                <li class="list-group-item">
                                    <a href="terms-of-use">
                                        Terms of Use
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="privacy-policy">
                                        Privacy
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="/terms-conditions">
                                        Terms &amp; Conditions
                                    </a>
                                </li>
                                @* <li class="list-group-item">
                                    <a href="">
                                        Sitemap
                                    </a>
                                </li> *@
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="Footer_FootLink__VxCIT">
                        <ul class="Footer_FootNav__hrwf4 d-flex flex-wrap list-group list-group-horizontal" >
                           @*  <li class="list-group-item">
                                <a href="javascript:void(0)" target="_self">
                                    Our Company
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="javascript:void(0)" target="_blank">
                                    Careers
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="javascript:void(0)" target="_self">
                                    Expertise
                                </a>
                            </li> *@
                            <li class="list-group-item">
                                <a href="#blog" target="_self">
                                    Blog
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="contact-us" target="_self">
                                    Contact us
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="javascript:void(0)" target="_self">
                                    FAQ
                                </a>
                            </li>
                            <!-- <li class="list-group-item">
                             <a href="sitemaps.html" target="_self">
                              Sitemap
                             </a>
                            </li> -->

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="Footer_FooterBottom__VZDQo">
            <div class="row">
                <!-- <div class="col-lg-5 col-md-12">
                 <ul class="Footer_CmsLink__HzwGS d-flex flex-wrap justify-content-center justify-content-lg-start list-group list-group-horizontal">
                  <li class="list-group-item">
                   <a href="terms-of-use.html">
                    Terms of Use
                   </a>
                  </li>
                  <li class="list-group-item">
                   <a href="privacy-notice.html">
                    Privacy
                   </a>
                  </li>
                  <li class="list-group-item">
                   <a href="terms-conditions.html">
                    Terms &amp; Conditions
                   </a>
                  </li>
                  <li class="list-group-item">
                   <a href="shipping-policy.html">
                    Sitemap
                   </a>
                  </li>
                 </ul>
                 <p>
                  Registered in England &amp; Wales No.: 04381390 | VAT Reg. : 868 4569 51
                 </p>
                 <p>
                  cohostweb and the cohostweb logo are trademarks of cohostweb Ltd., with the UK Trademark number UK00003125636
                 </p>
                </div> -->

                <div class="Footer_CopyrightText__TZcCh col-md-12">
                    <p>
                        © &copy;@DateTime.Now.Year.ToString() Cohostweb Ltd. All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>


