.HomeBanner_homeBanner__EJVSA .HomeBanner_homeBannerInfo__hEIj_ h1 {
    color: #1badea9e;
    margin-top: 11px;
    margin-bottom: 55px;
    line-height: 1.3;
    font-size: 69px
}

.btn-custom {
    background: #1badea9e;
    padding: 14px 30px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    outline: none!important;
    box-shadow: none!important;
    position: relative;
    font-family: Poppins,sans-serif;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin: 0;
    line-height: normal
}

.DrivingSuccess_DrivingSuccess___oCmD .DrivingSuccess_DrivingSuccessCard__Xnnj2 .DrivingSuccess_DrivingSuccessCardTop__5q67k .DrivingSuccess_DrivingSuccessNumber__J9b69 strong {
    color: #1badea9e;
    font-size: 60px;
    display: block;
    line-height: 60px;
    font-weight: 600
}

.Header_Header__MfdqS {
    background-color: #000;
    padding-bottom: 0px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999
}

.HomeAboutUs_HomeAboutUs__wNY_A .HomeAboutUs_homeAboutLeft__akXQK .HomeAboutUs_homeAboutBox__a104W {
    margin-bottom: 10px;
    color: #1badea9e;
    font-size: 36px;
    line-height: 36px;
}

.sub-hd {
    font-size: 16px;
    text-transform: uppercase;
    color: #1badea9e;
    margin-bottom: 10px;
}
.Footer_FooterBottom__VZDQo {
    border-top: 1px solid #585858;
    margin-top: 0px !important;
    padding-top: 40px;
    color: #6d6d6d;
    font-size: 12px;
}


.Footer_FormSec__C43gt .Footer_CmsLink__HzwGS li {
  border: 0;
    border-right-width: 0px;
    border-right-style: none;
    border-right-color: currentcolor;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
  border-right: 2px solid #fff;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.Footer_FormSec__C43gt .Footer_CmsLink__HzwGS li {
  border: 0;
    border-right-width: 0px;
    border-right-style: none;
    border-right-color: currentcolor;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
  border-right: 2px solid #fff;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.Footer_FormSec__C43gt .Footer_CmsLink__HzwGS li {
  border: 0;
    border-right-width: 0px;
    border-right-style: none;
    border-right-color: currentcolor;
  border-right-width: 0px;
  border-right-style: none;
  border-right-color: currentcolor;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-right: 2px solid #fff;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}
.Footer_FormSec__C43gt .Footer_CmsLink__HzwGS li {
  border: 0;
    border-right-width: 0px;
    border-right-style: none;
    border-right-color: currentcolor;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
  border-right: 2px solid #fff;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.Footer_FormSec__C43gt .Footer_CmsLink__HzwGS li a {
  color: #fff;
  line-height: 1;
  display: block;
  padding-right: 10px;
}

.Footer_FormSec__C43gt .Footer_CmsLink__HzwGS li a:hover {
  color: #f48120;
}
.list-group-horizontal > .list-group-item:first-child:not(:last-child) {
  border-bottom-left-radius: var(--bs-list-group-border-radius);
  border-top-right-radius: 0;
}

.Footer_FooterTop___oucz {
  border-bottom: 0px solid #585858 !important;
  padding-bottom: 30px;
}

.Footer_FooterBottom__VZDQo {
  border-top: 0px solid #585858;
  margin-top: 40px;
  padding-top: 40px;
  color: #6d6d6d;
  font-size: 12px;
}